image: Visual Studio 2022


install:
- ps: |
    Invoke-WebRequest -Uri 'https://dot.net/v1/dotnet-install.ps1' -UseBasicParsing -OutFile "$env:temp\dotnet-install.ps1"
    & $env:temp\dotnet-install.ps1 -Architecture x64 -Version '10.0.100' -InstallDir "$env:ProgramFiles\dotnet"

before_build:
  - cmd: dotnet --version

artifacts:
  - path: '**\*.nupkg'

configuration:
  - Release

build_script:
  - cmd: >-
      dotnet build .\tot.sln -p:Version=%APPVEYOR_BUILD_VERSION%

after_build:
  - cmd: >-
      dotnet pack .\src\tot\tot.csproj -c:release --no-build -p:Version=%APPVEYOR_BUILD_VERSION%

test_script:
  - cmd: >-
      dotnet test .\src\tot.Tests\tot.Tests.csproj